<mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let item of illustrations | async" [colspan]="1" [rowspan]="1"
        style="background-image: url({{item.Url}});" fxLayout="row" fxLayoutAlign="none"
        (mouseenter)="onMouseEnter(item)" (mouseleave)="onMouseLeave(item)">
        <div fxLayout="row" fxLayoutAlign="start end" fxFlex="100" class="matContainer" [ngClass]="item.IsActive ? 'show' : 'hidden'">
            <h3 [ngClass]="item.IsActive ? 'show' : 'hidden'">{{item.Name}}</h3>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<!-- [ngClass]="{isActive: link.isActive} -->